body
{
    margin: 0px 0px;
    background-image: /Common/images/seattle_back;
    background-repeat: repeat;
    color:#000000;
}

div.mainFormContent
{
   width:775px; 
   background-color:#fff; 
   margin-left: auto; 
   margin-right:auto;
}

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	margin-top: 4px;
}

.treeview .hitarea 
{
	background: url(../images/ui-tree.png) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}
.treeview .expandable-hitarea, .treeview div.lastExpandable-hitarea {
    background-position: 0 0; 
}
.treeview .collapsable-hitarea, .treeview div.lastCollapsable-hitarea  {
   background-position: 0 -16px; 
}
.treeview .hover 
{
   text-decoration: underline;
    /*color: black; */
    cursor: pointer; 
}
.treeview a 
{
   text-decoration: none; 
}
.treeview a.selected {
   
}

.ui-tabs
{
   border: none;
}

.ui-tabs .ui-tabs-panel
{
   border: 1px solid #AAAAAA;
   margin-left: 3px;
   min-height: 300px;

   /*border-width: 1px;*/
}

.ui-tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
/*
   color:#336699;
   font-size:11px;
   font-weight:bold;
*/
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited 
{
/*
   color:#336699;
   font-size:11px;
   font-weight:bold;
*/
}

.ui-tabs .ui-widget-header 
{
   background: none;
   border: none;
}

img.ui-datepicker-trigger
{
   margin-left:3px;
}

#AdvancedSearchTab input.DateTime
{
   width:12ex;
   float:left;
}

#AdvancedSearchTab div.FieldCaption
{
   width: 14ex; float:left;clear:left; margin-bottom:5px;
}

#AdvancedSearchTab div.FieldInput
{
   float:left;margin-left:2ex; margin-bottom:5px;
}
.ui-widget-content a
{
   color: #000066;
}
ul.SearchResults
{
   list-style: none;
   margin-left:0px;
}
ul.SearchResults a
{
   text-decoration:none;
}
ul.SearchResults a:hover
{
   text-decoration:underline;
   cursor: pointer; 
}
#AdvancedSearchCriteriaTable td
{
   white-space: nowrap;
   padding-right: 2ex;
}
#GoSearchField
{
   width: 160px;
}
img.SearchButton
{
   border: none;
   width: 96px;
   height: 27px;
}
